body {
  overflow-x: hidden;
  width: "100%";
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans','Bitter','Lobster Two', 'Helvetica Neue',
    sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    cursive;
}
